@font-face {
  font-family: "JockeyOne";
  src: url("/fonts/JockeyOne-Regular.ttf");
}

* {
  margin: 0;
  font-family: "JockeyOne";
}

/* region FILTERS */

#filtersContainer {
  padding: 5px 5px 0px 5px;
  font-size: 10px;
}

#filters {
  background-color: whitesmoke;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

/* endregion FILTERS */

/* region CHART */

#chartContainer {
  padding: 0 5px 5px 5px;
}

#chart {
  background-color: bisque;
}

#snakesContainer {
}

.snakeGroup {
}

.snakeIcon {
}

.snakeLabel {
}

/* endregion CHART */
